.desktopNavbar {
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navLeft,
.navRight {
  display: flex;
  align-items: center;
}
.desktopNavbar a{
  text-decoration: none;
}
.navItem {
  margin: 15px;
  cursor: pointer;
}
span.navItem {
  color: var(--googleBlack);
  font-size: 16px;
  font-weight: 400;
  padding: 0 8px;
  text-transform: capitalize;
  text-decoration: none;
}
span.navItem:hover {
  text-decoration: underline;
}
.navIcon {
  color: var(--googleBlack);
  font-size: 24px;
}
