.desktopNavbar {
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navLeft,
.navRight {
  display: flex;
  align-items: center;
}
.navItem {
  margin: 15px;
  cursor: pointer;
}
span.navItem {
  color: var(--googleBlack);
  font-size: 16px;
  font-weight: 400;
  padding: 0 8px;
  text-transform: capitalize;
  text-decoration: none;
}
span.navItem:hover {
  text-decoration: underline;
}
.navIcon {
  color: var(--googleBlack);
  font-size: 24px;
}
.primaryButton {
  cursor: pointer;
  background: var(--googleBlue2);
  color: var(--googleWhite);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 9px 15px;
  letter-spacing: 0.25px;
  min-width: 80px;
}
.primaryButton:hover {
  background: var(--googleBlue);
}
