.searchPreferences {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3,1fr);
  row-gap: 8px;
}
.searchPreferencesSection {
  padding: 16px 24px;
  margin: 4px 16px;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 2px 6px 0 rgba(60, 64, 67, 0.24);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.searchPreferencesSection:hover{
  box-shadow: 0 2px 6px 0 rgba(60, 64, 67, 0.36);

}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header p {
  margin: 0;
  padding: 0;
  color: var(--googleBlack2);
  text-align: left;
  font-size: 16px;
  font-weight: 500;
}
.moreIcon {
  font-size: 22px;
}
.websiteOptions {
  display: flex;
  gap: 4px;
}
.websiteOptionIconWrapper {
  width: 62px;
  height: 62px;
  background-color: var(--googleWhite2);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selectedWebsiteOption {
  background-color: var(--googleBlueBg);
}
.websiteOptionIcon {
  color: var(--googleBlue);
  font-size: 28px;
}
.dateOptions {
  margin-top: 12px;
  display: flex;
  gap: 8px;
}
.fileOptions {
  margin-top: 12px;
  display: flex;
  gap: 15px;
}
.dateOptions > div,
.fileOptions > div {
  display: flex;
  align-items: center;
  gap: 4px;
}
.dateOptions label,
.fileOptions label {
  color: var(--googleGrey);
  font-size: 13px;
}
.importantWords {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.importantWords input {
  color: var(--googleBlack);
  padding: 8px 12px;
  margin-bottom: 6px;
  border: 1px solid var(--googleGrey2);
  border-radius: 10px;
  outline: none;
  align-self: stretch;
}
.importantWords label {
  margin-left: 6px;
  color: var(--googleGrey);
  font-size: 13px;
}
