.searchQueryPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav {
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navIcon {
  color: var(--googleGrey);
  font-size: 24px;
}
.logoWrapper {
  /* margin-top: 12px; */
  /* margin-bottom: 12px; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.googleLogoImage {
  /* width: 130px; */
  width: 90px;
}
.prosearchLogoImage {
  /* width: 180px; */
  width: 115px;
}
.desktopSearchForm{
  display: none;
}
.main {
  width: 100%;
}
.stickySearchbar {
  width: 100%;
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.08);
  background-color: var(--googleWhite);
  position: fixed;
  /* top: 65px; */
  top: 0;
}
.nonStickyContent {
  padding-top: 185px;
}
.searchButtons {
  display: none;
}
.otherLanguages {
  color: var(--googleBlack2);
  text-align: center;
  font-size: 13px;
  padding-bottom: 6px;
}
.otherLanguages span {
  margin: 0 5px;
  color: var(--googleBlue);
  cursor: pointer;
}
.searchPreferences {
  margin-bottom: 6px;
}
.mobileSearchButtons {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.mobileSearchButton {
  font-size: 14px;
}

.checkbox,
.checkboxLabel {
  margin: 0;
}
.checkbox {
  /* margin-right: 20px; */
}
/* remove default styling of checkbox and create outer toggle area  */
input.checkbox {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 24px;
  border-radius: 12px;
  border: 2px solid var(--googleGrey);
  background: #eee;
  transition: all 0.15s;
}
/* style ::before to look like a toggle switch  */
input.checkbox::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 9px;
  background-color: var(--googleGrey);
  position: absolute;
  top: 12%;
  left: 8%;
  transition: all 0.4s;
}
/* change  outer bg color and move toggle switch when checkbox is checked  */
input.checkbox:checked {
  background-color: var(--googleYellow);
  transition: all 0.4s;
}
input.checkbox:checked::before {
  left: 50%;
  transition: all 0.4s;
}

.searchTypeContainer {
  height: 36px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.08);
  -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
  scrollbar-width: none; /* Hide scrollbar Firefox */
  display: flex;
  align-items: center;
}
.searchTypeContainer::-webkit-scrollbar {
  display: none; /*Hide scrollbar Chrome,Safari,Opera*/
}
.searchType {
  color: var(--googleGrey);
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  /* padding: 8px 12px; */
  padding: 4px 3px;
  margin: 4px 9px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
.searchType:first-of-type {
  color: var(--googleGrey3);
  border-bottom: 2px solid var(--googleGrey3);
}

@media (min-width: 501px) {
  .nav{
    width: 100%;
  }
  .navIcon{
    display: none;
  }
  .logoWrapper {
    /* margin-top: 36px; */
    /* margin-bottom: 0; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
  .googleLogoImage {
    /* width: 160px; */
    width: 90px;
  }
  .prosearchLogoImage {
    /* width: 180px; */
    width: 115px;
  }
  .mobileSearchForm{
    display: none;
  }
  .desktopSearchForm{
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .searchButtons {
    margin: 11px 0;
    display: block;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  .transparentButton {
    background-color: var(--googleWhite3);
    color: var(--googleBlack2);
    font-size: 14px;
  }
  .transparentButton:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: var(--googleWhite3);
  }
  .otherLanguages {
    /* display: none; */
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 14px;
  }
  .stickySearchbar {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: none;
  }
  .nonStickyContent {
    padding-top: 0px;
  }
  .mobileSearchButtons {
    display: none;
  }
  .searchPreferences {
    margin: 0 auto;
    width: 70%;
  }
}
