.searchPreferencesSection {
  margin-left: 24px;
  margin-right: 14px;
  margin-bottom: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid var(--googleGrey2);
}
.searchPreferencesSection:last-of-type{
  border-bottom: none;
  margin-bottom: 0;
}
.header {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header p {
  margin: 0;
  padding: 0;
  color: var(--googleBlack);
  text-align: left;
  font-size: 18px;
  font-weight: 400;
}
.moreIcon {
  font-size: 22px;
}
.websiteOptions {
  margin: 8px 6px;
  display: flex;
  gap: 4px;
}
.websiteOptionIconWrapper {
  width: 62px;
  height: 62px;
  background-color: var(--googleWhite2);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selectedWebsiteOption {
  background-color: var(--googleBlueBg);
}
.websiteOptionIcon {
  color: var(--googleBlue);
  font-size: 28px;
}
.dateOptions {
  margin: 16px 6px;
  display: flex;
  gap: 8px;
}
.fileOptions {
  margin: 16px 6px;
  display: flex;
  gap: 15px;
}
.dateOptions > div,
.fileOptions > div {
  display: flex;
  align-items: center;
  gap: 4px;
}
.dateOptions label,
.fileOptions label {
  color: var(--googleGrey);
  font-size: 13px;
}
.importantWords {
  padding-left: 6px;
  padding-right: 36px;
  display: flex;
  flex-direction: column;
}
.importantWords input {
  color: var(--googleBlack);
  padding: 8px 12px;
  margin: 8px 0;
  border: 1px solid var(--googleGrey2);
  border-radius: 10px;
  outline: none;
}
.importantWords label {
  margin-left: 6px;
  color: var(--googleGrey);
  font-size: 13px;
}
