.mobileNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navLeft,
.navRight {
  display: flex;
  align-items: center;
}
.mobileNavbar a {
  text-decoration: none;
}
.navItem {
  margin: 8px;
}
span.navItem {
  color: var(--googleGrey);
  font-size: 12px;
  font-weight: 600;
  line-height: 48px;
  padding: 0 8px;
  text-transform: uppercase;
}
span.navItemActive {
  color: var(--googleBlue);
  border-bottom: 2px solid var(--googleBlue);
}
.navIcon {
  color: var(--googleGrey);
  font-size: 24px;
}
.checkbox,
.checkboxLabel {
  margin: 0;
}
.checkbox {
  margin-right: 20px;
}
/* remove default styling of checkbox and create outer toggle area  */
input.checkbox {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 24px;
  border-radius: 12px;
  border: 2px solid var(--googleGrey);
  background: #eee;
  transition: all 0.15s;
}
/* style ::before to look like a toggle switch  */
input.checkbox::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 9px;
  background-color: var(--googleGrey);
  position: absolute;
  top: 12%;
  left: 8%;
  transition: all 0.4s;
}
/* change  outer bg color and move toggle switch when checkbox is checked  */
input.checkbox:checked {
  background-color: var(--googleYellow);
  transition: all 0.4s;
}
input.checkbox:checked::before {
  left: 50%;
  transition: all 0.4s;
}
